.banner{
    background-size: cover;
    background-position: center;
    height: 100hv;
    background-color: tan;
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}

.banner h1{
    margin: 0;
    color: antiquewhite;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 62px;

}

.banner p{
    font-size: 30px;
    color: wheat;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}